.nav-bar a{
    font-weight: bold;
}
.carousel-text-bg{
    background: rgba(0, 0, 0, 0.5);
}
.carousel-my-class img{
    height: 520px;
    border-radius: 10px;
}

.registration-section{
    height: 300px;
}
.icon i{
    color: gold;
}
footer .icons i{
    font-size: 40px;
    margin: 15px;
}
@media screen and (max-width:992px) {
    .companies{
        display: none;
    }
    
}
@media screen  and (max-width:576px){
    .carousel-my-class img{
        height: 420px;
    }
}
