.carousel-my-class img{
    height: 580px;
}
.registration-section{
    height: 300px;
}
.icon i{
    color: gold;
}
footer .icons i{
    font-size: 40px;
    margin: 15px;
}
@media screen and (max-width:992px) {
    .companies{
        display: none;
    }
}